%h1 About 30daylist.com

%p
  30daylist.com was inspired at a
  = link_to 'LifeHacker article', 'http://lifehacker.com/5331634/skip-impulse-buys-with-a-30+day-list'
  suggesting that creating a list of non-essential purchases and not buying them until they had been on the list for 30 days was an effective way to curb impulse purchases.

%p Rather than keeping up with a paper list, 30daylist.com lets you track your personal Thirty Day List online and keeps up with when you add items and how long they've been on your list.
